@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

main{
    padding: 20px;
}

header{
    width: 100%;
    height: 80px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

.icon__menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu__side{
    width: 80px;
    height: 100%;
    background: #081423;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #081423;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.name__page{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page i{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a{
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover{
    color: white;
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}

a.selected{
    color: #fff;
}

.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}

/*Clases para usar en JavaScript*/

.body_move{
    margin-left: 250px;
}

.menu__side_move{
    width: 250px;
}


@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }
}

#searchContainer {
    display: flex; /* Establece un diseño flexible */
    justify-content: space-between; /* Separa los elementos a ambos extremos del contenedor */
    align-items: center; /* Alinea verticalmente los elementos */
    margin-bottom: 20px; /* Espacio debajo del contenedor */
}

/* Estilo para la barra de búsqueda */
#searchInput {
    width: 70%; /* O ajusta según el espacio que necesites para la búsqueda */
    padding: 8px; /* Espacio interno para el input */
    border: 1px solid #ccc; /* Borde sutil para el input */
    border-radius: 4px; /* Bordes redondeados */
    background-color: #081423;
    color: rgb(255, 255, 255); /* Color de texto blanco */
}


#searchInput:focus {
    border-color: #ccc;
    outline: none;
}

/* Estilo para la tabla de usuarios */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid transparent; /* Líneas de las celdas transparentes */
    text-align: left;
    padding: 8px;
    background-color: #ffffff; /* Color de fondo blanco para todas las celdas */
}

th {
    border-bottom: 4px solid #ea0420; /* Línea del borde inferior de los encabezados en color destacado */
}


#addUserButton {
    padding: 8px 15px; /* Ajusta el padding según prefieras */
    background-color: #ea0420; /* Color de fondo del botón */
    color: white; /* Color de texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 14px; /* Tamaño de letra ajustable según prefieras */
    transition: background-color 0.3s; /* Transición suave al cambiar de color */
}
#addUserButton:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
/* Estilos para la ventana modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .button-icon {
    background-color: #3498db; /* Color de fondo azul */
    border: none; /* Sin bordes */
    padding: 10px; /* Espaciado interno uniforme para mantener el botón simétrico */
    border-radius: 50%; /* Hacerlo completamente redondo */
    cursor: pointer; /* Cursor en forma de mano para indicar que es clickeable */
    color: white; /* Color del ícono */
    display: inline-flex; /* Usar flex para centrar el contenido */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    width: 30px; /* Ancho fijo */
    height: 30px; /* Altura fija */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.button-icon:hover {
    background-color: #2980b9; /* Color de fondo al pasar el mouse */
}

.button-icon:focus {
    outline: none; /* Eliminar el contorno que se muestra al enfocar el botón */
}
.custom-file-upload {
    color: #0000EE; /* Azul típico de enlace */
    text-decoration: underline; /* Subrayado para imitar un enlace */
    cursor: pointer; /* Cursor en forma de mano para indicar interactividad */
    font-size: 16px; /* Tamaño de fuente adecuado */
    display: inline-block; /* Para ajustar dimensiones automáticamente */
}

.custom-file-upload:hover,
.custom-file-upload:focus {
    text-decoration: none; /* Remover subrayado al pasar el ratón o enfocar para un efecto visual */
    color: #FF4500; /* Cambiar de color para indicar actividad */
}

.status-dropdown {
    width: 20%; /* Ocupa toda la celda */
    padding: 4px 8px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde ligero */
    border-radius: 4px; /* Bordes redondeados */
    background-color: white; /* Fondo blanco */
    cursor: pointer; /* Indicador de interactividad */
}





  