@{
    ViewData["Title"] = "Home Page";
}

<div class="texto">
    Encuentra todos los
    resultados de los
    torneos más emocionantes.
    <button class="consultar-btn">Consultar</button>
</div>
<img class="imagen-movible" src="~/img/principal.png">
<i class="fab fa-instagram instagram-icon"></i>
<i class="fab fa-facebook-f facebook-icon"></i>
<i class="fab fa-whatsapp whatsapp-icon"></i>